---
import type { UiMessages } from '../../i18n/schemas/ui-messages';
import { LeadDecisionRowMotion } from './lead-decision-row-motion';
import { LeadIntroMotion } from './lead-intro-motion';
import { LeadPillarsMotion } from './lead-pillars-motion';

type Props = {
	readonly messages: UiMessages;
};

const { messages } = Astro.props;
---

<section
	id="leadership"
	class="scroll-mt-24 border-b border-white/10 px-6 py-20 sm:px-10 sm:py-24 lg:px-16 lg:py-24"
	aria-labelledby="lead-heading"
>
	<div class="mx-auto max-w-5xl">
		<LeadIntroMotion client:visible lead={messages.lead} />
		<div class="mt-12">
			<LeadPillarsMotion client:visible pillars={messages.lead.pillars} />
		</div>
		<LeadDecisionRowMotion client:visible lead={messages.lead} />
	</div>
</section>
