---
import type { UiMessages } from '../../i18n/schemas/ui-messages';
import { ContactConciergeForm } from './contact-concierge-form';
import { ContactSidebarMotion } from './contact-sidebar-motion';

type Props = {
	readonly messages: UiMessages;
};

const { messages } = Astro.props;
---

<section id="contact" class="scroll-mt-24 px-6 py-20 sm:px-10 sm:py-24 lg:px-16 lg:py-24" aria-labelledby="contact-heading">
	<div class="mx-auto grid max-w-5xl gap-10 lg:grid-cols-[0.95fr_1.05fr] lg:items-start">
		<ContactSidebarMotion client:visible contact={messages.contact} />
		<ContactConciergeForm client:visible contactForm={messages.contactForm} locale={messages.locale} />
	</div>
</section>
