---
import type { UiMessages } from '../../i18n/schemas/ui-messages';
import { publicIdentity } from '../../site-shell/constants/public-identity';
import { ContactConciergeForm } from './contact-concierge-form';
import { ContactSidebarMotion } from './contact-sidebar-motion';

type Props = {
	readonly messages: UiMessages;
};

const { messages } = Astro.props;
---

<section id="contact" class="scroll-mt-24 px-6 py-28 sm:px-10 lg:px-16" aria-labelledby="contact-heading">
	<div class="mx-auto grid max-w-6xl gap-14 lg:grid-cols-[0.95fr_1.05fr] lg:items-start">
		<ContactSidebarMotion client:visible contact={messages.contact} />
		<ContactConciergeForm
			client:visible
			contactForm={messages.contactForm}
			primaryEmail={publicIdentity.primaryEmail}
		/>
	</div>
</section>
